@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes infiniteSlider {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-infinite-slider {
  animation: infiniteSlider 20s linear infinite;
}


